header {
    background-color: aquamarine;
    height: 130px;
    width: 100%;
    padding: 50px;
    align-items: center;
    align-content: center;
    justify-content: center;
}



#header img {
    padding: 30px;
}

#contacts {
    display: flexbox;
}
.iframe-container {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    display: inline;
    padding: 30px;
}
@media screen and (max-width: 768px) {
    #header {
        background-color: darksalmon;
    }
}
@media screen and (max-width: 600px) {
    body {
        background-color: indianred ;
    }
}

